* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/* CABECALHO */

.cabecalho {
  height: 300px;
  width: 100%;
}

.coluna-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo {
  width: 200px;
  height: 180px;
}

.coluna-pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-pesquisa {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search {
  color: rgb(255, 94, 0);
}

.label-pesquisar {
  border: 1px solid rgba(0, 0, 0, 0.342);
  display: inline-block;
  width: 90%;
  height: 70%;
  padding: 7px;
}

.search-input {
  border: none;
  outline: none;
  width: 93%;
  height: 100%;
}

.btn-pesquisar {
  display: none;
}

@media screen and (max-width: 760px) {
  .label-pesquisar {
    width: 90%;
  }
}
/* CARROUSEL */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
