
/* >> CATEGORIAS << */
.categorias-col{
    display: flex;
}
.categorias-head{
    list-style: none;
    display: flex;
    align-items: center;
    background: #000000;
    padding: 20px 36px 16px 29px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-family: 'Ebrima', sans-serif;
    font-style: inherit;
}
.categorias-item{
    list-style: none;
    border-top: 1px solid #888;
    background-color: #f9f9f9;
    display: flex;
    cursor: pointer;
}


.categorias-item a{
    display: block;
    padding: 14px 36px 16px 29px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-family: 'Ebrima', sans-serif;
    font-size: 100%;
    text-align: left;
}

.categorias-item:hover a{
    color: rgb(255, 60, 0);
    
}

.categorias-item a{
    text-decoration: none;
}

.categorias-item a{
    color: #888;
}

.categorias-item .dropdown-item{
    z-index: 1;
}

.categorias-link-dropdown{
    width: 90%;
}

/* >> PRODUTOS << */

.tittle-produtos{
    width: 100%;
    height: 70px;
    background-color: #eeeded;
    padding: 21px 36px 15px 28px;
    display: flex;
    align-items: center;
}
