*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.container-block{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/fresh-vegetable-and-grilled-snail-sausage-arranged-in-circular-frame.jpg');
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    position: relative;
}

.row-error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-error{
    width: 80%;
    height: 100px;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.var-erro{
    color: red;
    text-decoration: none;
}

.container-content{
    width: 80%;
    height: 70%;
    border-radius: 3px;
    background-image: url("../images/fundo-2010x2010.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 80%;
}

.carouselImg{
    border-radius: 5px;
}

.inputText{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    width: 90%;
    padding: 5px;
    border-radius: 1px;
}

.inputText:hover{
    animation-name: inputFocus;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.smallInput{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    width: 45%;
    padding: 5px;
}

.smallInput:hover{
    animation-name: inputFocus;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.dataNascimento{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    width: 40%;
    padding: 5px;
    margin-left: 5%;
}

.botao-cadastrar{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(212, 212, 212);
    border-radius: 2px;
    z-index: 2;
    position: relative;
}



.navbar{
    background-color: rgb(238, 237, 237);
}

.locked{
    display: none;
}

.row-boas-vindas{
    justify-content: center;
    align-items: center;
    position: absolute;
}

.boas-vindas{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.btn-iniciar{
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    color: white;
}

.btn-logar{
    background-color: white;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    height: 55px;
    font-size: 30px;
}

@keyframes inputFocus{
    from {
        border-bottom: 1px solid black;
    }

    to{
        border-bottom: 1px solid rgb(255, 94, 0);
    }
}

@keyframes btnTextAnimation{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes btnAnimation{
    from {
        width: 100px;
        background-color: rgb(212, 212, 212);
    }

    to {
        width: 90%;
        background-color: rgb(0, 89, 255);
    }

}

.logo{
    width: 50px;
    height: auto;
}

.msg-error{
    background-color: rgb(214, 214, 214);
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    line-height: 10px;
    box-shadow: -2px 5px 5px #b8b7b7;
}

.link-suporte{
    color: rgb(36, 36, 252);
}

.wrong-cpf{
    color: rgb(218, 5, 5);
}

.msg-suporte{
    font-size: 80%;
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 1400px){
    .container-content{
        height: 80%;
    }
}

@media screen and (max-width: 770px){
    .container-block{
        height: 150vh;
    }

    .row-button{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    .dataNascimento{
        width: 100%;
        margin: 0;
    }

    .container-content{
        width: 90%;
    }

    .container-error{
        width: 90%;
    }

    .container-block{
        background-size: 1800px;
        background-position-x: -500px;
    }

    .smallInput{
        width: 100%;
    }

    .inputText{
        width: 100%;
    }

    @keyframes btnAnimation{
        from {
            width: 100px;
            background-color: rgb(212, 212, 212);
        }
    
        to {
            width: 90%;
            background-color: rgb(0, 89, 255);
        }
    
    }
}